
div.view-showcase .showcase-wrapper div.image img
{
  float:left;
  margin-right:5px;
  margin-bottom:5px;
  border-color:#EEEEEE #DDDDDD #DDDDDD #EEEEEE;
  -moz-border-radius:4px 4px 4px 4px;
  -webkit-border-radius: 4px;
	border-radius: 4px;
  border-width:1px;
  background:none repeat scroll 0 0 #fff;
  padding:5px;
}

div.view-showcase .showcase-wrapper div.body
{
  margin-left:200px;
}

div.view-showcase .showcase-wrapper h3{
  margin-bottom:5px;
}

div.view-showcase .showcase-wrapper {
  clear:left;
  float:left;
  width:100%;
  overflow:hidden;
  background-color:#F3F3F3;
  margin: 5px 5px 5px 0;
}

div.view-showcase .showcase-wrapper-inner {
  float:left;
  width:100%;
  position:relative;
  right:50%;
  border-right: 10px solid #FFFFFF;
  background-color:#F3F3F3;;
}

div.view-showcase .showcase-wrapper-inner div.showcase
{
  padding:5px;
}

div.view-showcase .showcase-wrapper-inner .odd
{
 	float:left;
  width:46%;
  position:relative;
  left:51%;
  overflow:hidden;
}

div.view-showcase .showcase-wrapper-inner .even
{
  float:left;
  width:46%;
  position:relative;
  left:55%;
  overflow:hidden;
}

div.view-provider table{
  vertical-align: top;
}


div.view-provider table th.views-field-field-provider-logo-fid
{
  width:220px;
}

div.view-provider table th.views-field-title
{
  width:220px;
}

div.view-provider .views-exposed-form
{
  -moz-border-radius:15px 15px 15px 15px;
  -webkit-border-radius: 15px;
	border-radius: 15px;
  background-color:#F3F3F3;
  padding:15px;
  margin-bottom:1em;
}

.view-provider table caption
{
  font-family:'Droid Sans',arial,sans-serif;
  font-size:1.2em;
  line-height: 3em;
  text-align:left;
  text-align:left;
}

